{% extends 'layout.html' %}

<!--  -->
{% block content %}


<section class="page">
	<!-- ***** Page Top Start ***** -->
	<div class="cover" data-image="#">
		<div class="page-top">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<h1>Contact Us</h1>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- ***** Page Top End ***** -->

	<!-- ***** Our Team Start ***** -->
	<section class="section">
		<div class="container">
			<div class="row">
				<div class="offset-lg-2 col-lg-8">
					<div class="center-text">
						<img src="../static/assets/images/favicon.png" style="display: block; width:100px; margin-left: auto; margin-right: auto; margin-bottom:40px;">
						<p style="text-align: justify;">This program was developed by Dr. Constance Lynch, a certified speech pathologist with an emphasis in linguistics and voice. She has been a university professor and taught classes at the University of Minnesota, the University of California
							Santa Barbara,
							the University of South Florida, and Colegio Roosevelt in Lima, Peru.
							Dr. Lynch has authored over 30 refereed articles and presentations; has provided accent consultations with teachers, businessmen and pilots in Peru and Korea;
							has worked in the public schools, not-for-profit clinics and private practice.
							During her 6 years living in Peru, she developed the Triple-L Ranch phonemic awareness program which was found to double the rate at which young
							children learned English. The program is applicable to individuals from any world country wishing to learn English as a second language.
						</p>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- ***** Our Team End ***** -->

	<!-- ***** Page Content Start ***** -->
	<!-- <div class="page-bottom"> -->
	<div class="map-wrapper">
		<!-- ***** Google Maps Start ***** -->
		<div class="map-canvas" data-zoom="7" data-lat="36.16357199359746" data-lng="-115.98825788942824" data-type="roadmap" data-hue="#ffc400" data-title="Beapp" data-icon-path="../static/assets/images/marker.png"
			data-content="3821 Newcomb Ave<br>Pahrump NV 89048<br><br><a href='mailto:info@triplelyngo.com'>mailto:info@triplelyngo.com</a>">
		</div>
		<!-- ***** Google Maps End ***** -->

		<!-- ***** Contact Informations Start ***** -->
		<div class="container position-relative">
			<div class="row">
				<div class="offset-lg-8 col-lg-4 col-md-12 col-sm-12">
					<div class="contact-info">
						<div class="item">
							<i class="fa fa-location-arrow"></i>
							<div class="txt">
								<span>3821 Newcomb Ave<br>Pahrump NV 89048 </span>
							</div>
						</div>
						<div class="item">
							<i class="fa fa-phone"></i>
							<div class="txt">
								<span>+1 (571) 247-2143</span>
							</div>
						</div>
						<div class="item">
							<i class="fa fa-envelope"></i>
							<div class="txt">
								<span><a href="mailto:info@triplelyngo.com">info@triplelyngo.com</a></span>
							</div>
						</div>

					</div>
				</div>
			</div>
		</div>
		<!-- ***** Contact Informations End ***** -->
	</div>
	<!-- </div> -->
	<!-- ***** Page Content End ***** -->
</section>



{% endblock %}