{% extends 'layout.html' %}

<!--  -->
{% block content %}


<!-- ***** Wellcome Area Start ***** -->
<section class="welcome-area">
	<!-- ***** Wellcome Area Background Start ***** -->
	<div class="welcome-bg" data-bg="../static/assets/images/photos/welcome_banner.jpg">
		<img src="../static/assets/images/bg-bottom.svg" alt="">
	</div>
	<!-- ***** Wellcome Area Background End ***** -->

	<!-- ***** Wellcome Area Content Start ***** -->
	<div class="welcome-content" style="text-align: center;">
		<div class="container">
			<div class="row">

				<div class="offset-lg-1 col-lg-5 col-md-12 align-self-center">
					<img src="../static/assets/images/photos/welcome2.png" alt="">
				</div>

				<div class="col-lg-6 col-md-12 align-self-center">
					<h1><b>The free, fun, and effective way to improve your English</b></h1>
					<a class="btn-white-line" href="https://triple-lranch.com">GET STARTED</a>
				</div>

			</div>
		</div>
	</div>
	<!-- ***** Wellcome Area Content End ***** -->
</section>
<!-- ***** Wellcome Area End ***** -->


<!-- ***** Home About - Services Start ***** -->
<section class="section services-section pbottom-70">
	<div class="container">
		<div class="row">
			<!-- ***** Home About Start ***** -->
			<div class="col-lg-5 col-md-12 col-sm-12 align-self-bottom">
				<img src="../static/assets/images/photos/test.gif" alt="" style="display: block; width:180px; margin-left: auto; margin-right: auto; margin-bottom:20px;">
				<div class=" left-heading">
					<h2 class="section-title">The world's #1 way to improve your English!</h2>
				</div>
				<div class="left-text">
					<p class="dark">Learning with 3L-Ranch is fun, and <a href="#">research shows that it works!</a></p>
					<p>With quick, bite-sized lessons, you'll have fun while enhancing your real-world communication skills</p>
				</div>
			</div>
			<!-- ***** Home About End ***** -->

			<!-- ***** Home Services Start ***** -->
			<div class="offset-lg-1 col-lg-6 col-md-12 col-sm-12 align-self-bottom">
				<div class="row">
					<div class="col-lg-6 col-md-6 col-12">
						<a href="#" class="home-services-item mtop-70" data-scroll-reveal="enter bottom move 30px over 0.6s after 0.2s">
							<i class="fa fa-clone"></i>
							<!-- <img src="../static/assets/images/favicon.png" alt="" style="width:50px; margin-bottom:20px;"> -->
							<h5 class="services-title">Effective and efficient</h5>
							<p>Our courses effectively and efficiently teach listening skills.</p>
						</a>
						<a href="#" class="home-services-item" data-scroll-reveal="enter bottom move 30px over 0.6s after 0.2s">
							<i class="fa fa-connectdevelop"></i>
							<h5 class="services-title">Personalized learning</h5>
							<p>Lessons are tailored to help you learn at just the right level and pace</p>
						</a>
					</div>
					<div class="col-lg-6 col-md-6 col-12">
						<a href="#" class="home-services-item" data-scroll-reveal="enter bottom move 30px over 0.6s after 0.3s">
							<i class="fa fa-object-ungroup"></i>
							<h5 class="services-title">Stay motivated</h5>
							<p>With game-like features, its easy to stay motivated!</p>
						</a>
						<a href="#" class="home-services-item" data-scroll-reveal="enter bottom move 30px over 0.6s after 0.3s">
							<i class="fa fa-line-chart"></i>
							<h5 class="services-title">Have fun with it</h5>
							<p>Effective learning doesnt have to be boring! Build your skills each day with engaging exercises.</p>
						</a>
					</div>
				</div>
			</div>
			<!-- ***** Home Services End ***** -->
		</div>
	</div>
</section>
<!-- ***** Home About - Services Start ***** -->


<!-- ***** Features Start ***** -->
<section class="section background">
	<div class="container">
		<div class="row">
			<div class="col-lg-5 col-md-12 col-12 align-self-center">
				<img src="../static/assets/images/mockup/hand.png" class="img-fluid d-block mx-auto" alt="">
			</div>
			<div class="col-lg-7 col-md-12 align-self-center">
				<ul class="features">
					<li data-scroll-reveal="enter bottom move 30px over 0.6s after 0.2s">
						<div class="count">
							<span>1</span>
						</div>
						<div class="text">
							<h5 class="title">Design and UX that ensures your app will be loved and used</h5>
							<p>Quisque nec consectetur arcu. Duis tellus ante, sodales sed molestie at, sagittis id neque. Quisque condimentum libero arcu. Mauris tellus sem, ultrices varius nisl at.</p>
						</div>
					</li>
					<li data-scroll-reveal="enter bottom move 30px over 0.6s after 0.3s">
						<div class="count">
							<span>2</span>
						</div>
						<div class="text">
							<h5 class="title">Enterprise-grade development secures reliability and quality</h5>
							<p>Praesent tortor nulla, ullamcorper vel ante at, varius tincidunt augue. Cras vitae consectetur arcu. Proin at velit vel risus elementum accumsan sed non neque. Aenean risus.</p>
						</div>
					</li>
					<li data-scroll-reveal="enter bottom move 30px over 0.6s after 0.4s">
						<div class="count">
							<span>3</span>
						</div>
						<div class="text">
							<h5 class="title">A proven and tested process guarantees your success</h5>
							<p>Aliquam bibendum velit ut ante cursus, et efficitur lectus rutrum. Maecenas ac convallis lorem, non ultricies sem. Duis elit metus, ullamcorper sed ante sed, viverra bibendum neque.</p>
						</div>
					</li>
					<li data-scroll-reveal="enter bottom move 30px over 0.6s after 0.5s">
						<div class="count">
							<span>4</span>
						</div>
						<div class="text">
							<h5 class="title">Start-to-end app development agency</h5>
							<p>Cras imperdiet faucibus sem, a dignissim urna feugiat sed. Interdum et malesuada fames ac ante ipsum primis in faucibus. Pellentesque posuere vestibulum lorem.</p>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</div>
</section>
<!-- ***** Features End ***** -->


<!-- ***** Our Team Start ***** -->
<!-- <section class="section pbottom-70">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="center-heading">
						<h2 class="section-title">Our Team</h2>
					</div>
				</div>
				<div class="offset-lg-3 col-lg-6">
					<div class="center-text">
						<p>Fusce placerat pretium mauris, vel sollicitudin elit lacinia vitae. Quisque sit amet nisi erat.</p>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-3 col-md-6 col-sm-6 col-12">
					<div class="team-item">
						<div class="header">
							<div class="img">
								<img src="../static/assets/images/photos/team/1.jpg" alt="">
							</div>
							<div class="info">
								<strong>Fletch Skinner</strong>
								<span>Product Strategist</span>
							</div>
						</div>
						<div class="body">
							Proin arcu ligula, malesuada id tincidunt laoreet, facilisis at justo. Sed at lorem malesuada.
						</div>
						<ul class="social">
							<li><a href="#"><i class="fa fa-facebook"></i></a></li>
							<li><a href="#"><i class="fa fa-twitter"></i></a></li>
							<li><a href="#"><i class="fa fa-linkedin"></i></a></li>
							<li><a href="#"><i class="fa fa-github"></i></a></li>
						</ul>
					</div>
				</div>
				<div class="col-lg-3 col-md-6 col-sm-6 col-12">
					<div class="team-item">
						<div class="header">
							<div class="img">
								<img src="../static/assets/images/photos/team/2.jpg" alt="">
							</div>
							<div class="info">
								<strong>Lance Bogrol</strong>
								<span>Visual Designer</span>
							</div>
						</div>
						<div class="body">
							Proin arcu ligula, malesuada id tincidunt laoreet, facilisis at justo. Sed at lorem malesuada.
						</div>
						<ul class="social">
							<li><a href="#"><i class="fa fa-facebook"></i></a></li>
							<li><a href="#"><i class="fa fa-twitter"></i></a></li>
							<li><a href="#"><i class="fa fa-linkedin"></i></a></li>
							<li><a href="#"><i class="fa fa-github"></i></a></li>
						</ul>
					</div>
				</div>
				<div class="col-lg-3 col-md-6 col-sm-6 col-12">
					<div class="team-item">
						<div class="header">
							<div class="img">
								<img src="../static/assets/images/photos/team/3.jpg" alt="">
							</div>
							<div class="info">
								<strong>Valentino Morose</strong>
								<span>Android Developer</span>
							</div>
						</div>
						<div class="body">
							Proin arcu ligula, malesuada id tincidunt laoreet, facilisis at justo. Sed at lorem malesuada.
						</div>
						<ul class="social">
							<li><a href="#"><i class="fa fa-facebook"></i></a></li>
							<li><a href="#"><i class="fa fa-twitter"></i></a></li>
							<li><a href="#"><i class="fa fa-linkedin"></i></a></li>
							<li><a href="#"><i class="fa fa-github"></i></a></li>
						</ul>
					</div>
				</div>
				<div class="col-lg-3 col-md-6 col-sm-6 col-12">
					<div class="team-item">
						<div class="header">
							<div class="img">
								<img src="../static/assets/images/photos/team/4.jpg" alt="">
							</div>
							<div class="info">
								<strong>Giles Posture</strong>
								<span>iOS Developer</span>
							</div>
						</div>
						<div class="body">
							Proin arcu ligula, malesuada id tincidunt laoreet, facilisis at justo. Sed at lorem malesuada.
						</div>
						<ul class="social">
							<li><a href="#"><i class="fa fa-facebook"></i></a></li>
							<li><a href="#"><i class="fa fa-twitter"></i></a></li>
							<li><a href="#"><i class="fa fa-linkedin"></i></a></li>
							<li><a href="#"><i class="fa fa-github"></i></a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</section> -->
<!-- ***** Our Team End ***** -->


<!-- ***** Counter Parallax Start ***** -->
<section class="parallax">
	<div class="parallax-content">
		<div class="container">
			<div class="row">
				<div class="col-lg-4 col-md-4 col-sm-12">
					<div class="count-item">
						<strong>200</strong>
						<span>Beta<br>Users</span>
					</div>
				</div>
				<div class="col-lg-4 col-md-4 col-sm-12">
					<div class="count-item">
						<strong>45</strong>
						<span>%<br>Improvement</span>
					</div>
				</div>
				<div class="col-lg-4 col-md-4 col-sm-12">
					<div class="count-item">
						<strong>176</strong>
						<span>App<br>Versions</span>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- ***** Counter Parallax End ***** -->

<!-- ***** Blog Start ***** -->
<!-- <section class="section pbottom-70">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="center-heading">
						<h2 class="section-title">Latest Blog Posts</h2>
					</div>
				</div>
				<div class="offset-lg-3 col-lg-6">
					<div class="center-text">
						<p>Fusce placerat pretium mauris, vel sollicitudin elit lacinia vitae. Quisque sit amet nisi erat.</p>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-4 col-md-6 col-sm-12">
					<div class="blog-post-thumb">
						<div class="img">
							<img src="../static/assets/images/photos/blog/1.jpg" alt="">
						</div>
						<h3>
							<a href="blog-single.html">5 steps to becoming GDPR compliant on mobile apps</a>
						</h3>
						<div class="text">
							Mauris tellus sem, ultrices varius nisl at, convallis iaculis mauris. Sed eget sem vitae purus tempus dignissim.
						</div>
						<a href="blog-single.html" class="btn-primary-line">Read More</a>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 col-sm-12">
					<div class="blog-post-thumb">
						<div class="img">
							<img src="../static/assets/images/photos/blog/2.jpg" alt="">
						</div>
						<h3>
							<a href="blog-single.html">Measuring app success through mobile analytics</a>
						</h3>
						<div class="text">
							Cras imperdiet faucibus sem, a dignissim urna feugiat sed. Interdum et malesuada fames ac ante ipsum primis in faucibus.
						</div>
						<a href="blog-single.html" class="btn-primary-line">Read More</a>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 col-sm-12">
					<div class="blog-post-thumb">
						<div class="img">
							<img src="../static/assets/images/photos/blog/3.jpg" alt="">
						</div>
						<h3>
							<a href="blog-single.html">How accessibility will influence your app development</a>
						</h3>
						<div class="text">
							Quisque euismod nec lacus sit amet maximus. Ut convallis sagittis lorem auctor malesuada. Morbi auctor tortor eu risus condimentum.
						</div>
						<a href="blog-single.html" class="btn-primary-line">Read More</a>
					</div>
				</div>
			</div>
		</div>
	</section> -->
<!-- ***** Blog End ***** -->


{% endblock %}