<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>3L-Ranch</title>
	<meta name="description" content="3L-Ranch" />
	<meta name="keywords" content="3L-Ranch" />
	<meta name="author" content="tempload" />

	<!-- Favicon -->
	<link rel="icon" type="image/png" href="../static/assets/images/favicon.png" />

	<!-- Bootstrap & Plugins CSS -->
	<link href="../static/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css">
	<link href="../static/assets/css/font-awesome.min.css" rel="stylesheet" type="text/css">
	<link href="../static/assets/css/magnific-popup.css" rel="stylesheet" type="text/css">

	<!-- Custom CSS -->
	<link href="../static/assets/css/style.css" rel="stylesheet" type="text/css">
</head>

<body>

	<!-- ***** Preloader Start ***** -->
	<div class="loader-wrapper">
		<div class="center">
			<div class="dot dot-one"></div>
			<div class="dot dot-two"></div>
			<div class="dot dot-three"></div>
			<div class="dot dot-four"></div>
			<div class="dot dot-five"></div>
		</div>
	</div>
	<!-- ***** Preloader End ***** -->

	<!-- ***** Header Area Start ***** -->
	<header class="header-area">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<nav class="main-nav">
						<!-- ***** Logo Start ***** -->
						<a href="{{ url_for('home') }}" class="logo">
							<img src="../static/assets/images/logo-white.svg" class="light-logo" alt="Beapp" />
							<img src="../static/assets/images/logo-dark.svg" class="dark-logo" alt="Beapp" />
						</a>
						<!-- ***** Logo End ***** -->

						<!-- ***** Menu Start ***** -->
						<ul class="nav">
							<li><a href="{{ url_for('home') }}">HOME</a></li>
							<li><a href="{{ url_for('research') }}">RESEARCH</a></li>
							<li><a href="{{ url_for('contact') }}">CONTACT</a></li>
							<!-- <li><a href="{{ url_for('contact') }}" class="btn-nav-line">CONTACT</a></li> -->
						</ul>
						<a class="menu-trigger">
							<span>Menu</span>
						</a>
						<!-- ***** Menu End ***** -->
					</nav>
				</div>
			</div>
		</div>
	</header>
	<!-- ***** Header Area End ***** -->


	<!-- Block Content -->
	{% block content %}
	<!-- 
        content 
    -->
	{% endblock %}
	<!-- Block Content -->


	<!-- ***** Footer Start ***** -->
	<footer>
		<div class="container">
			<div class="row">
				<div class="col-lg-5 col-md-12 col-sm-12">
					<img src="../static/assets/images/logo-dark.svg" class="logo" alt="">
					<div class="text">3-L Ranch is a unique phonemic awareness game designed specifically for all who are learning English as a second language. Learn to perceive the imperceptible!</div>
				</div>
				<!-- <div class="col-lg-2 col-md-4 col-sm-6 col-6">
					<h5>Helpful Links</h5>
					<ul class="footer-nav">
						<li><a href="#"><i class="fa fa-angle-right"></i><span>Our Work</span></a></li>
						<li><a href="#"><i class="fa fa-angle-right"></i><span>About Us</span></a></li>
						<li><a href="#"><i class="fa fa-angle-right"></i><span>Services</span></a></li>
						<li><a href="#"><i class="fa fa-angle-right"></i><span>Blog</span></a></li>
						<li><a href="#"><i class="fa fa-angle-right"></i><span>Contact</span></a></li>
					</ul>
				</div>
				<div class="col-lg-2 col-md-4 col-sm-6 col-6">
					<h5>Latest Apps</h5>
					<ul class="footer-nav">
						<li><a href="#"><i class="fa fa-angle-right"></i><span>Dance School</span></a></li>
						<li><a href="#"><i class="fa fa-angle-right"></i><span>Coiner</span></a></li>
						<li><a href="#"><i class="fa fa-angle-right"></i><span>Cloud Manager</span></a></li>
						<li><a href="#"><i class="fa fa-angle-right"></i><span>Coding Life</span></a></li>
						<li><a href="#"><i class="fa fa-angle-right"></i><span>Smart Office</span></a></li>
					</ul>
				</div> -->
				<div class="col-lg-3 col-md-4 col-sm-12">
					<h5>Contact Us</h5>
					<div class="address">
						<p>3821 Newcomb Ave<br>Pahrump NV 89048 </p>
						<p>Phone: +1 (571) 247-2143</p>
						<p><span>E-Mail:</span><a href="mailto:info@triplelyngo.com"> info@triplelyngo.com</a></p>
						<!-- <ul class="social">
							<li><a href="#"><i class="fa fa-facebook-square"></i></a></li>
							<li><a href="#"><i class="fa fa-twitter-square"></i></a></li>
							<li><a href="#"><i class="fa fa-linkedin-square"></i></a></li>
							<li><a href="#"><i class="fa fa-google-plus-square"></i></a></li>
							<li><a href="#"><i class="fa fa-github-square"></i></a></li>
						</ul> -->
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-12">
					<p class="copyright">© 2023 3L-Ranch. All Rights Reserved.</p>
				</div>
			</div>
		</div>
	</footer>
	<!-- ***** Footer Start ***** -->



	<!-- jQuery -->
	<script src="../static/assets/js/jquery-3.6.0.min.js"></script>

	<!-- Bootstrap -->
	<script src="../static/assets/js/popper.js"></script>
	<script src="../static/assets/js/bootstrap.min.js"></script>

	<!-- Plugins -->
	<script src="../static/assets/js/scrollreveal.min.js"></script>
	<script src="../static/assets/js/parallax.min.js"></script>
	<script src="../static/assets/js/jquery.waypoints.min.js"></script>
	<script src="../static/assets/js/jquery.counterup.min.js"></script>
	<script src="../static/assets/js/jquery.magnific-popup.min.js"></script>
	<script src="../static/assets/js/imgfix.js"></script>

	<!-- You need to create an API key via https://console.developers.google.com/apis/ in order for the map to work. -->
	<script src="http://maps.google.com/maps/api/js?key=AIzaSyAthC_2x5GtKhiH7rUumkMbwvp31qyFyA8"></script>
	<script src="../static/assets/js/map-script.js"></script>

	<!-- Global Init -->
	<script src="../static/assets/js/custom.js"></script>
</body>

</html>